<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
</head>
<body>

  <form onsubmit="/users/login" method="POST">
    <input placeholder="Username" name="username" type="text" />
    <input placeholder="Password" name="password" type="password" />
    <button type="submit">Submit</button>
  </form>
  
</body>
</html>